<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" nz-input placeholder="搜索视频" />
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
</ng-template>
<div nz-row class="video-cards">
  <video-card nz-col nzSpan="3" [video]="video"></video-card>
  <video-card nz-col nzSpan="3" [video]="video"></video-card>
  <video-card nz-col nzSpan="3" [video]="video"></video-card>
  <video-card nz-col nzSpan="3" [video]="video"></video-card>
  <video-card nz-col nzSpan="3" [video]="video"></video-card>
  <video-card nz-col nzSpan="3" [video]="video"></video-card>
  <video-card nz-col nzSpan="3" [video]="video"></video-card>
  <video-card nz-col nzSpan="3" [video]="video"></video-card>
</div>